<h1>HumanTouch™</h1>

<p id="notice"><%= notice %></p>

<div class="chat-box">
  <ul id="chat">
  </ul>
</div>

<%= simple_form_for Message.new, remote: true do |f| %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>
<br>
