<h1>HumanTouch™</h1>

<p id="notice"><%= notice %></p>

<div class="chat-box">
  <ul id="chat" class="list-unstyled">
  </ul>
</div>

<% if user_signed_in? %>
  <%= simple_form_for Message.new, remote: true do |f| %>
    <%= f.text_field :body %>
    <%= f.submit %>
  <% end %>

<% end %>
<br>
