var source;

source = new EventSource('/messages/events');

var message;
source.addEventListener('message', function(e) {
  message = $.parseJSON(e.data).body;
  user = $.parseJSON(e.data).username;
  $('#chat').prepend($("<li><strong>" + user + ":</strong> " + message + "</li>"));
  if(user === localStorage.getItem('username-human-touch')) {
    $('#chat-field').val('');
  }
});
