/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
  /*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
 @import "bootstrap-sprockets";
 @import "bootstrap";

.user-nav {
  border-style: none none solid none;
  border-width: 0 0 1px 0;
  color: white;
}

.user-nav span a {
  color: white;
}

.user-nav span a:focus {
  color: black;
}

.muted {
  opacity: 0.5;
}

input[type=text] {
  border-style: none none solid none;
  border-width: 0 0 1px 0;
}

input[type=text]:focus {
  outline: none;
  box-shadow: 0 0 -1px 0 #000;
}

#new_username {
  visibility: hidden;
}
